body {
    display: block;
    overflow: auto;
    margin:0;
    width:auto;
    background-color: #222;
    color:var(--clr-light);
    padding: calc(var(--v) * 3);
    border-radius:var(--v);
}

body::-webkit-scrollbar {
    background-color: darkgray;
    border-radius: 100rem;
}

body::-webkit-scrollbar-thumb {
    border-radius: 100rem;
    background-color: darkseagreen;
    border:2px solid green;
}

.header {
    font-size: calc(var(--v) * 5);
    text-align: center;
    margin-bottom:2rem;
}

h3 {
    text-align: center;
    font-size: calc(var(--v) * 3);
    font-family: var(--font-2);
}

p {
    margin-inline: auto;
    max-width:80ch;
    font-size: calc(var(--v) * 2.5);
    margin-bottom: 2vh;
    font-family: var(--font-1);
}

img {
    display: block;
    width: max-content;
    margin-inline: auto;
    margin-block: 3vh;
}

.yellow {
    color:yellow;
}

.green {
    color:lightgreen;
}   